<html>
  <head>Welcome to Chitter</head>
  <body style="background-image:url('https://cdn.shopify.com/s/files/1/0565/7080/6458/products/pink-clouds-mural-wallpaper-plain.jpg?v=1644567830');">
    <h2>#FEED#</h2>

    <div>
      <p style="border-width:3px; 
      border-style:solid; 
      background-color:#ffcce0; 
      border-color:#ff0066; 
      width:75%;
      padding: 1em;">
      I am a big fan of Jar Jar Binks
      </p>



    </div>
  </body>
</html>