<html>
  <head>Created by Cameron Bishop</head>
  <body style="background-image:url('https://cdn.shopify.com/s/files/1/0565/7080/6458/products/pink-clouds-mural-wallpaper-plain.jpg?v=1644567830');">
    <h2 style="border-width:3px; border-style:solid; 
      background-color:#ffcce0; border-color:#ff0066; 
      width:15%; padding: 1em;">

      Welcome to chitter <br>
      FEED </h2>
      <!--<p style="border-width:3px; 
        border-style:solid; 
        background-color:#ffcce0; 
        border-color:#ff0066; 
        width:5%;
        padding: 1em;">
        <button onclick="window.location.href='/login';">Login</button>
        </p>-->
      
        <p style="border-width:3px; 
        border-style:solid; 
        background-color:#ffcce0; 
        border-color:#ff0066; 
        width:5%;
        padding: 1em;">
        <button onclick="window.location.href='/peep';">Post a peep</button>
        </p>

    <div>

      
      <p style="border-width:3px; 
      border-style:solid; 
      background-color:#ffcce0; 
      border-color:#ff0066; 
      width:75%;
      padding: 1em;">
      <% @peep_handle.each { |username| username.username } %>
      <% @peeps.each do |peep| %>
      <%= peep.user_id %> <br>
      <%= peep.content %> <br>
      <%= peep.time %> <br>
      <% end %>
      </p>



    </div>
  </body>
</html>